

<!-- <div class="row">

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Special title treatment</h4>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Special title treatment</h4>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

</div> -->

<div class="row" >
<div class="card text-white bg-dark mb-3 border border-warning" style="max-width: 20rem;" >
  <div class="card-header">Header</div>
  <div class="card-body">
    <h4 class="card-title">Dark card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>


<div class="card text-white bg-dark ml-3 border border-warning" style="max-width: 20rem;" >
  <div class="card-header">Header</div>
  <div class="card-body">
    <h4 class="card-title">Dark card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>

</div>


  <div class="container sample">
    <div class="row">
      <div class="card-columns">
        <!-- Karte 1 -->
        <div class="card">
          <div class="card-header">Card 1</div>
          <div class="card-block">
            <p class="card-text">This is the content.</p>
          </div>
        </div>
        <!-- Karte 2 -->
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">Card 2</h4>
            <p class="card-text">This is the content.</p>
          </div>
        </div>
        <!-- Karte 3 -->
        <div class="card card-outline-info">
          <div class="card-header">Card 3</div>
          <div class="card-block card-info">
            <p class="card-text">
              This is the content. A <a href="#" class="card-link">link</a>.
            </p>
          </div>
          <div class="card-footer">Footer</div>
        </div>
        <!-- Karte 4 -->
        <div class="card card-outline-warning">
          <div class="card-header">Card 4</div>
          <div class="card-block card-warning">
            <p class="card-text">This is the content.</p>
          </div>
          <div class="card-footer">Footer</div>
        </div>
        <!-- Karte 5 -->
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">Card 5</h4>
            <p class="card-text">This is the content.</p>
          </div>
        </div>
        <!-- Karte 6 -->
        <div class="card ">
          <div class="card-header">Card 6</div>
          <div class="card-block card-success">
            <p class="card-text">
              This is the content. A <a href="#" class="card-link">Link</a>.
            </p>
          </div>
        </div>
        <!-- Karte 7 -->
        <div class="card">
          <div class="card-header">Card 7</div>
          <div class="card-block">
            <p class="card-text">
              This is the content. A <a href="#" class="card-link">Link</a>.
            </p>
          </div>
          <div class="card-footer">End</div>
        </div>
        <!-- Karte 8 -->
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">Card 8</h4>
            <p class="card-text">This is the content.</p>
          </div>
        </div>

        <!-- Karte 8 -->
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">Card 8</h4>
            <p class="card-text">This is the content.</p>
          </div>
        </div>


        <!-- Karte 8 -->
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">Card 8</h4>
            <p class="card-text">This is the content.</p>
          </div>
        </div>

      </div>
    </div>
  </div>

<!-- 

<div class="card">


  <div class="view overlay hm-white-slight">
    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%287%29.jpg" class="img-fluid" alt="">
    <a href="#">
      <div class="mask"></div>
    </a>
  </div>


  <div class="card-body">

    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Button</a>
  </div>

</div> -->


<!-- 
<div class="container-fluid">
  <h1>DashBoard -- RL Carriers</h1>
  <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear
    non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens,
    the page content will be pushed off canvas.</p>
  <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>

</div> -->


<div class="card-columns">
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Card title that wraps to a new line</h4>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
  <div class="card p-3">
    <blockquote class="blockquote mb-0 card-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card bg-primary p-3 text-center">
    <blockquote class="blockquote mb-0">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
      <footer class="blockquote-footer">
        <small>
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card text-center">
    <div class="card-body">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img" src="..." alt="Card image">
  </div>
  <div class="card p-3 text-right">
    <blockquote class="blockquote mb-0">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>